{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Desing - Easy Tutorials</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wight@400;700&display=swap" rel="stylesheet">

</head>
{% block content %}<div class ="container">
        <div class ="navbar">
            <img src="images/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">REGION</a></li>
                    <li><a href="">ABOUT</a></li>
                </ul>
            </nav>
            <img class="menu-icon" src="{% static "static/images/menu.png" %}" alt="" />
            {% comment %} <img src="images/menu.png" class="menu-icon"> {% endcomment %}
   
    </div>
    <div class="row">
        <div class="col">
            <h1>Sahara</h1>
            <p>Sahara je najveća vruća pustinja na Zemlji te treća najveća, površine preko 9.100.000 km² koja 
            se nalazi u Sjevernoj Africi.Njeno ime, Sahara,
            je latinizirani oblik arapske riječi pustinja.</p>
            <button type="button">Explore</button>
    </div>
    <div class="col">
        <div class="card card1">
            <h5>Western Desert</h5>
            <p>Zapadna pustinja Egipta je područje Sahare koje leži zapadno od rijeke Nil,
             do libijske granice, i južno od Sredozemnog mora do granice sa Sudanom.</p>
        
    </div>
    <div class="col">
        <div class="card card2">
            <h5>El Bagawat</h5>
            <p>El Bagawat je drevno kršćansko groblje, jedno od najstarijih na svijetu, 
            koje je djelovalo u oazi Kharga u južnom i središnjem Egiptu.</p>
        
    </div>
    <div class="col">
        <div class="card card3">
            <h5>Pyramid of Giza</h5>
            <p>Keopsova piramida, poznata i kao Velika piramida ili 
                Kufuova piramida jedna je od tri glavne piramide u Gizi.</p>
        
    </div>
    <div class="col">
        <div class="card card4">
            <h5>Klahari Desert</h5>
            <p>Kalahari je pustinja u južnoj Africi. Površina joj je oko 900,000 km ² i 
                prostire se na većem djelu Bocvane i dijelovima Namibije i Južnoafričke Republike.</p>
        
    </div>
    
    <div class="col">{% endblock content %}
    

